
        <h1>Embedded Cinema</h1>
        
       {% if session['logged_in'] %}
       
       <p> <a href="http://localhost:5000/cinema/theater">영화관</a><br><br>  </p>
        <p> <a href="http://localhost:5000/cinema/movie">영화</a><br><br>  </p> 
        <p> <a href="http://localhost:5000/cinema/reservation/{{data}}">예약</a><br><br>  </p>
        <p> <a href="http://localhost:5000/cinema/log/{{data}}">고객 기록</a><br><br>  </p>
        <p> <a href="http://localhost:5000/cinema/register">회원가입</a><br><br>  </p>
       {% if data %}
       <h3>{{data}}</h3>
       <a href="/cinema/logout">로그아웃</a> <br> <br>
       
       {% else %}
       <a href="/cinema/logout">로그아웃2</a> <br> <br>
       {% endif %}
     {% else %}
         <p> <a href="http://localhost:5000/cinema/theater">영화관</a><br><br>  </p>
         <p> <a href="http://localhost:5000/cinema/movie">영화</a><br><br>  </p> 
         <p> <a href="http://localhost:5000/cinema/reservation">예약</a><br><br>  </p>
         <p> <a href="http://localhost:5000/cinema/log">고객 기록</a><br><br>  </p>
         <p> <a href="http://localhost:5000/cinema/register">회원가입</a><br><br>  </p>
         <p> <a href="http://localhost:5000/cinema/login">로그인</a><br><br>  </p>
     {% endif %}
        
    </body>
</html>