<!doctype HTML>
<html>
    <head>
        <meta charset ="utf-8">
        <title> Welcome Embedded Movie</title>
    </head>
    <body>
        <h1>Movie Chart</h1>
        <form action = "/cinema/movie/movie_info" method="post">
            <ul>
                <li>
                    <label for="name">Movie_Name:</label>
                    <input type="text"  name = movie_movie_name2>
                    <input type="submit" value="검색">
                </li>
            </ul>
        </form>
        <form action = "/cinema/movie/order" method="post">
            <select name = "order">
                <option value = "name">제목순</option>
                <option value = "genre">장르순</option>  
                <option value = "grade">연령</option>       
            </select>
            <button type="submit" class="btn btn-default">Go</button>
        </form>
        {% for item in items %}
        <p>제목: {{ item.name }} </p> 
        <p>장르: {{ item.genre }}  </p>
        <p>연령등급: {{ item.grade }}</p>  
        <a href='/cinema/movie/{{item.name}}'>영화 상세 정보</a> <br><br>
        {% endfor %}
    </body>
</html>
