<!doctype HTML>
<html>
    <head>
        <meta charset ="utf-8">
        <title> Welcome Embedded Theater</title>
    </head>
    <body>
        <h1>Theater Page</h1>
        <form action = "/cinema/theater/movie_search" method="post">
            <ul>
                <li>
                    <label for="name">Movie_Name:</label>
                    <input type="text"  name = movie_movie_name>
                    <input type="submit" value="검색">
                </li>
            </ul>
        </form>

        {% for item in items %}
        {{ item.name }} <br>
        {{ item.location }} <br><br>
        <a href='/cinema/theater/{{item.name}}'>상영 영화</a> <br> <br>
        {% endfor %}
    </body>
</html>